@import "tailwindcss";

.swiper-button-next,
.swiper-button-prev {
    display: none !important;
}

.swiper-pagination-bullet {
    background: gray !important;
    /* inactive dot color */
    opacity: 1 !important;
    /* fully visible */
}

.swiper-pagination-bullet-active {
    background: white !important;
    width: 20px !important;
    border-radius: 10px !important
    /* active dot color */
};